a {
  text-decoration: none;
}

button {
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0;
}

.myBtn {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.myBtn:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  width: 0px;
  transition: 0.3s;
}

.active,
.active:before {
  color: rgba(255, 255, 255, 1);
}

.active:before {
  width: 25px;
}

.myBtn:hover,
.myBtn:hover:before {
  color: rgba(255, 255, 255, 1);
}

.myBtn:hover:before {
  width: 25px;
}
