main {
  .content {
    .msg {
      padding: 0 2rem;
      @media screen and (max-width: 425px) {
        padding: 0rem 0.5rem;
      }
      @media (min-width: 426px) and (max-width: 768px) {
        padding: 0rem 1rem;
      }
    }
  }
}
